body    {
        background-color: 'white';
        font-family: Tahoma, sans-serif;
        color: #810E15;
}

#display {
        background-color: #FFFFFF;
        color: #987654;
}

.hidden {
        display: none;
}

.popup {
        background-color: #D9D7D9;
        position:absolute;
        border-style:inset ;
        border-width:2px;
        border-color: #000000;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #810E15;
}

.text {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #810E15;
}

.menu {
}

.genenames {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #810E15;
}

.banner {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #810E15;
}

.title {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #810E15;
}

.clusterdescr {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #810E15;
}

a:link {color: #1D1414}
a.menu:link { color: #810E15 }
a:visited { color: #1D1414 }
a {text-decoration: none }
a:hover {text-decoration: underline}
a:active { color: #810E15 }

